* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
body {
    font-size: 15px;
    color: #777777;
    line-height: 1.8em;
    font-weight: 400;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-family: 'Rubik', sans-serif;
}
a {
    color: #848484;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
button {
    -webkit-appearance: button;
    cursor: pointer;
}
button, input, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
header {
    position: relative;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: #041332;
}
.contact-section {
    padding: 25px 0;
}
.orders-section{
    padding-top: 25px;
}
.auto-container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.pull-left {
    position: relative;
}
.sec-title {
    margin-bottom: 50px;
}
.sec-title h2 {
    font-size: 30px;
    font-weight: 600;
    color: #020e28;
    margin: 0;
    padding: 5px 0 20px;
    display: inline-block;
    text-transform: uppercase;
}
.sec-title .separator {
    width: 75px;
}
.sec-title .separator:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 75px;
    height: 2px;
    background-color: #f55b14;
}
.sec-title .separator:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 2px;
    width: 25px;
    height: 4px;
    background-color: #f55b14;
}
.contact-section .sec-title .text {
    max-width: 420px;
    color: #848484;
    font-size: 18px;
    line-height: 1.7em;
    margin-left: 50px;
    display: inline-block;
}
.contact-section .inner-container {
    display: flex;
    border: 1px solid #f4f4f4;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
}
.contact-section .info-column {
    padding: 0;
}
.contact-section .info-column {
    border-right: 1px solid #f4f4f4;
}
.contact-section .info-column .upper-box {
    padding: 25px 55px 15px 30px;
    background-color: #f4f4f4;
}
.list-style-three li {
    position: relative;
    margin-bottom: 15px;
    color: #848484;
    font-size: 15px;
    font-weight: 400;
    padding-left: 46px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e6e6e6;
    font-family: 'Rubik', sans-serif;
}
.list-style-three li .icon {
    position: absolute;
    left: 0;
    top: 12px;
    color: #f55b14;
    line-height: 1em;
    font-size: 24px;
}
.list-style-three li strong {
    position: relative;
    color: #020e28;
    font-size: 16px;
    font-weight: 600;
    display: block;
    font-family: 'Poppins', sans-serif;
}
.form-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 35px;
}
.contact-form .form-group {
    margin-bottom: 20px;
}
.contact-form .form-group:last-child {
    margin-bottom: 0;
}
.contact-form .form-group input, .contact-form .form-group select {
    position: relative;
    display: block;
    width: 100%;
    line-height: 28px;
    padding: 10px 0px;
    height: 40px;
    color: #848484;
    font-size: 16px;
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    font-family: 'Rubik', sans-serif;
}
.contact-form .form-group input[type="text"]:focus,
.contact-form .form-group input[type="password"]:focus,
.contact-form .form-group input[type="tel"]:focus,
.contact-form .form-group input[type="email"]:focus,
.contact-form .form-group select:focus{
    border-color:#f55b14;
}
.contact-form .submit-btn {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
    padding: 6px 15px;
    border-radius: 5px;
    border: 2px solid #f55b14;
    background-color: #f55b14;
    letter-spacing: 1px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    text-transform: uppercase;
}
.contact-form .submit-btn:hover {
    background-color: transparent;
    color: #f55b14;
    box-shadow: 4px 4px 5px 0 rgba(245,91,20,0.4);
    -webkit-box-shadow: 4px 4px 5px 0 rgba(245,91,20,0.4);
    -moz-box-shadow: 4px 4px 5px 0 rgba(245,91,20,0.4);
}
.contact-form .submit-btn:hover, a:hover{
    color:#f55b14;
    text-decoration: none;
}
.theme-btn {
    display: inline-block;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.contact-form .submit-btn .icon {
    margin-left: 5px;
}
.navbar-collapse {
    box-shadow: none!important;
}
.navbar-collapse.collapse {
    display: flex!important;
    justify-content: end;
}
.nav-link {
    color: #dadada;
    padding: 0 15px;
    font-weight: 600;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
}
.filter-cont {
    margin: 0;
    align-items: center;
    justify-content: space-between;
}
.filter-cont::before, .filter-cont::after {
    display: none;
}

.filter-cont .col {
    line-height: normal;
    margin-right: 10px;
}
.filter-cont .form-control {
    height: 25px;
    padding: 5px;
    font-size: 13px;
}
.filter-cont p {
    margin: 0;
}
#applyDateFilter {
    border: none;
    background-color: #f55b14;
    font-size: 13px;
    font-weight: 600;
    height: 25px;
    margin: 0;
    line-height: 12px;
}
.table-responsive {
    max-height: 60vh;
    overflow-y: auto;
}
.table>tbody>tr>td, .table>tbody>tr>th {
    padding: 3px 8px;
    font-size: 13px;
}
thead {
    top: -1px;
    position: sticky;
    background-color: #f2edf3;
}
#rowsCount {
    color: #f55b14;
    font-weight: 600;
}


@media only screen and (max-width: 1200px) {
    .contact-section .info-column {
        width: 30%;
    }
}

@media only screen and (max-width: 1140px) {
    .sec-title h2 {
        font-size: 30px;
    }
    .contact-section .info-column .lower-box {
        padding: 15px 15px;
    }
}

@media only screen and (max-width: 995px) {
    .container {
        width: 100%!important;
    }
    .contact-section .info-column {
        width: 35%;
    }
    .sec-title .d-flex {
        display: flex;
        flex-direction: column;
    }
    .sec-title .text {
        margin: 15px 0 0!important;
    }
}

@media only screen and (max-width: 790px) {
    .container {
        width: 100%;
    }
    .contact-section .info-column {
        width: 100%;
    }
    .contact-section .inner-container {
        flex-direction: column;
    }
    .form-column {
        padding: 25px 35px;
    }
}

@media only screen and (max-width: 540px) {
    .navbar {
        margin: 10px 0;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .contact-section .info-column .upper-box {
        padding: 15px 55px 5px 30px;
    }
    .contact-section .sec-title .text {
        font-size: 16px;
        line-height: 1.5em;
    }
    .filter-cont {
        flex-direction: column;
        align-items: flex-start;
    }
    .filter-cont .col:first-child {
        margin-bottom: 10px;
    }
    .sec-title {
        margin-bottom: 25px;
    }
    .sec-title h2 {
        font-size: 26px;
        padding: 5px 0 15px;
    }
    .contact-form .form-group {
        margin-bottom: 15px;
    }
    .contact-form .form-group input, .contact-form .form-group select {
        height: 30px;
    }
    .list-style-three li {
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
}